html
  font-size: 14px

*
  box-sizing: border-box

=background($imgpath, $position: center, $repeat: no-repeat)
  background:
    image: url($imgpath)
    position: $position
    repeat: $repeat
    size: cover

body
  background: #f6f9fc
  font-family: "Open Sans", sans-serif
  color: #525f7f

h2
  margin: 5%
  font-size: 2rem
  font-weight: 100
  border-bottom: 1px dotted #525f7f
  padding-bottom: 2rem

#container
  width: 50vw
  margin: 5% auto

%wrapper
  background: #fff
  padding: 20px
  border-radius: 8px
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025)

#comments
  display: flex
  flex-direction: column
  gap: 30px

#new-comment
  @extend %wrapper
  margin: 40px 0
  padding: 40px
  display: flex
  align-items: center
  gap: 5px
  flex-direction: column

  & *
    width: 100%

  & textarea
    max-width: 100%

  & input[type="submit"]
    margin-top: 30px
    width: 50%

  & input[type="date"]
    width: 150px

  & input, & textarea
    padding: 5px 10px
    font-size: inherit
    font-family: inherit
    color: inherit

.comment
  @extend %wrapper
  position: relative

  &__header
    display: flex
    gap: 15px
    align-items: baseline

  &__author
    font-size: 1.2rem
    line-height: 1.4
    font-weight: 600
    color: #9251ac
    letter-spacing: 1px

  &__date
    white-space: nowrap

  &__action
    flex-grow: 1
    display: flex
    justify-content: space-between
    align-items: baseline

  &__btn
    border: none
    background-color: transparent
    +background('./img/icon_not_icon.svg')
    width: 18px
    aspect-ratio: 1

    &:hover
      cursor: pointer

    &_type_remove
      opacity: 0.6
      background-image: url('./img/icon_delete.png')

      &:hover
        opacity: 1

    &_type_like
      background-image: url('./img/icon_like_empty.png')

      &.liked
        background-image: url('./img/icon_like_full.png')

// Стили ошибок
.invalid
  border-color: #e30f0f

#error
  color: #8f1919
  height: 20px
  margin-bottom: 10px
  font-size: small

@media screen and ( max-width: 768px )
  #container
    width: 80vw
